.AboutPage {
    background-color: #f3eaf4;
    color: var(--rich-black); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: calc(100vh - 160px); 
    margin-top: 40px; 
    margin-bottom: 40px; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }

  .AboutContainer {
    min-height: 100vh; 
    background-color: var(--rich-black); 
    color: #fff;
    padding: 20px;
  }
  
  .Container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #374a67ff; 
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .Header {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: var(--lavender-blush);
  }
  
  p {
    font-size: 1.2rem;
    color: var(--magnolia);
    line-height: 1.6;
    margin-bottom: 20px;
  }
  