:root {
    --rich-black: #0e1116ff;
    --yinmn-blue: #374a67ff;
    --ultra-violet: #616283ff;
    --mountbatten-pink: #9e7b9bff;
    --wisteria: #cb9cf2ff;
}

.FullScreenBackground {
    background-image: url('https://res.cloudinary.com/dwgtce0rh/image/upload/v1727862662/vestrahorn-mountains-stokksnes-iceland_aoqbtp.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: calc(100vh - 160px); 
    margin-top: 40px; 
    margin-bottom: 40px; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.FullScreenOverlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
    z-index: -1;
}

.FullScreenContent {
    z-index: 2;
    color: var(--wisteria);
    text-align: center;
}

h1 {
    font-size: 3rem;
    color: #E5CEDC;
    margin-bottom: 20px;
}

p {
    font-size: 1.5rem;
    color: #E5CEDC;
    margin-bottom: 30px;
}

.Button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: var(--ultra-violet);
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.Button:hover {
    background-color: var(--mountbatten-pink);
}

