.NavBar {
    background-color: var(--magnolia);
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.NavBar a {
    color: var(--yinmn-blue);
    font-size: 1rem;
    padding: 2px 10px;
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.NavBar a:hover {
    color: var(--lavender-blush);
    background-color: var(--rich-black);
    border-radius: 4px; /* Optional: adds a rounded effect */
}

.NavBar i {
    font-size: 1.4rem;
}

.navbar-brand img {
    height: 55px;
}

.navbar-toggler {
    color: var(--yinmn-blue);
    border: none;
    transition: transform 0.2s ease;
}

.navbar-toggler:hover {
    color: var(--lavender-blush);
    transform: rotate(90deg); /* Optional: adds a hover effect */
}

/* Styles for dropdown menu links */
.navbar-nav .dropdown-menu {
    background-color: var(--magnolia);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-nav .dropdown-menu a {
    color: var(--yinmn-blue);
    padding: 10px 15px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar-nav .dropdown-menu a:hover {
    color: var(--magnolia);
    background-color: var(--yinmn-blue);
    border-radius: 4px;
}

@media (max-width: 768px) {
    .NavBar {
        height: 60px; 
        padding: 0px 10px; 
    }

    .NavBar a {
        font-size: 1rem; 
        padding: 0px 12px; 
    }

    .NavBar i {
        font-size: 1.6rem; 
    }

    .navbar-brand img {
        height: 65px; 
    }

    .navbar-toggler {
        transform: scale(1.2); 
    }
}
