.NavBar {
    background-color: lavenderblush;
    height: 70px; 
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 40px;
}

.NavBar a {
    color: var(--yinmn-blue);
    font-size: 1.1rem; 
    padding: 8px 15px;
    text-decoration: none;
}

.NavBar a:hover {
    color: var(--mountbatten-pink);
}

.NavLink {
    padding: 3px 8px;
}

.Active i {
    color: var(--mountbatten-pink);
}

#basic-nav-dropdown {
    color: var(--ultra-violet);
    font-size: 1.2rem;
    padding: 5px 10px; 
    vertical-align: middle;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

#basic-nav-dropdown:hover {
    background-color: var(--wisteria);
    color: var(--mountbatten-pink);
}

.NavBar i {
    font-size: 1.4rem;
}

