.photoDetailsContainer {
  margin-top: 80px;
  margin-bottom: 80px; /* Adds space between the container and the navbar */
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--magnolia); 
  color: #ffffff; 
  width: 100vw;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.photoDetailsText {
  background-color: var(--yinmn-blue);
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.comment {
  color: #ffffff; /* Ensure comment text is visible */
  margin-bottom: 10px;
}

.comment strong {
  color: #ffdf5e; /* To give emphasis to the username */
}

.comment p {
  margin: 0;
}

.commentInput {
  color: #000000; /* Make sure the text in the input box is visible */
}


.photoDetailsButtons {
  display: flex;
  justify-content: space-between;
  gap: 10px; 
  margin-top: 20px;
}

.likeButton, .editButton, .deleteButton {
  flex: 1;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.likeButton {
  background-color: var(--rose-quartz);
}

.likeButton:hover {
  background-color: #fff;
  color: var(--battleship-gray);
}

.editButton {
  background-color: var(--ultra-violet);
}

.editButton:hover {
  background-color: var(--lavender-blush);
}

.deleteButton {
  background-color: #dc3545;
}

.deleteButton:hover {
  background-color: #c82333;
}
