.photoDetailsContainer {
    padding-top: 20px;
  }
  
  .photoImage {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .likeButton {
    margin-top: 20px;
    background-color: var(--mountbatten-pink);
    border: none;
  }
  
  .likeButton:hover {
    background-color: var(--ultra-violet);
  }
  
  .commentSection {
    margin-top: 20px;
  }
  
  .commentSection p {
    background-color: var(--yinmn-blue);
    padding: 10px;
    border-radius: 5px;
  }
  