.editContainer {
  max-width: 700px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

.imageWrapper {
  text-align: center;
  margin-bottom: 20px;
}

.imagePreview {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}
