.photographerCard {
    background-color: var(--yinmn-blue);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .profileImage {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
  }
  

  .error {
    color: red;
    text-align: center;
  }
  
  .photographerCol {
    margin-bottom: 20px;
  }

  .h5 {
    color: var(--yinmn-blue);
  }
  