.profileEditContainer {
  max-width: 800px;
  margin: auto;
}

.profileCard {
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formLabel {
  font-weight: 600;
}

.profileImage {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
