.Background {
    background-image: url('https://res.cloudinary.com/dwgtce0rh/image/upload/v1721310733/rrnrybzbr0iypcupobfl.jpg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
    z-index: 1;
  }

.Background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: -1; 
  }

.FormContainer {
    background-color: #ffffff;
    padding: 40px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: auto;
    z-index: 2;
  }

  .SignUpFormContainer {
    background-color: #ffffff;
    padding: 40px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px; 
    margin: auto;
    z-index: 2;
  }
  
  
.Row {
    min-height: calc(100vh - 81px);
    background-color: #f1f1f1;
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin: 0;
}

.Input {
    background: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 4px;
    color: #2e3b42;
    text-align: center;
    padding: 12px;
    width: 100%;
    max-width: 300px;
    margin-bottom: 15px;
}

.Header {
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    color: #db628e;
    margin-bottom: 20px;
}

.Link {
    text-decoration: none;
    text-align: center;
    display: block;
    color: #2e3b42;
    font-size: 1rem;
}

.Link span {
    color: #db628e;
    font-weight: bold;
}

.FormContainer {
    background-color: #ffffff;
    padding: 40px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
}

.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 60px 0;
}

.SignInCol,
.SignUpCol {
    display: flex;
    align-items: center;
    justify-content: center;
}

